
.app{
    overflow: hidden;
}

/*  start-----header-------------------------------------------------------------- */
.header{
    height:var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

/* nav---------- */
.nav{
    display: flex;
    justify-content: space-between;
}

.nav-l{
    list-style: none;
    padding-left: 0;
    margin-top: 12px;
    
}

.nav-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}


.nav-item,
.nav-item-a{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 350;
}
.nav-item-appear-qr:hover .qr{
    display: block;
    z-index: 1;

}

.nav-item-a--noti-appear:hover .noti{
    display: block;
    z-index: 1;

}
.nav-item:hover,
.nav-icon-a:hover,
.nav-item-a:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.nav-item--bold{
    font-weight: 450;
}

.nav-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: solid 1px #fb9086 ;
    right:-8px;
    top:50%;
    transform: translateY(-50%);


}

.nav-icon-a{
    color: var(--while-color);
    text-decoration: none;
}

.nav-icon-a:nth-last-child(2){
    margin-left: 3px;
}
.nav-icon{
    font-size: 1.8rem;
    padding: 0 4px;
}
.nav-l,
.nav-item,
.nav-item-a,
.nav-icon-a{
    display: inline-flex;
    align-items: center;
}

.nav--no-pointer{
    cursor: text;
    color: var(--while-color) ;
}

/* user-------------- */
.nav-user{
    position: relative;
}

.nav-user:hover .nav-user-list{
    display: block;
}

.nav-user-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.nav-user-name{
    margin-left: 6px;
    font-weight: 400;
}

.nav-user-list{
    width: 140px;
    list-style: none;
    background: var(--while-color);
    padding: 0;
    border-radius: 2px;
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    z-index: 1;
    box-shadow: 0 0 3px #ccc;
    display: none;
    animation: appear linear 0.2s;
}
.nav-user-list::before{
    content: "";
    display: block;
    border-width: 10px 14px;
    border-color: transparent transparent var(--while-color) transparent;
    border-style: solid;
    position: absolute;
    top: -19px;
    right: 40px;

}
.nav-user-list::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 100px;
    background: #000;
    top: -10px;
    background: transparent;
    right: 0;
}
.nav-user-item{
    padding: 9px 20px 9px 12px;

}
.nav-user-item--separate{
    border-top: 1px solid #ddd;
}
.nav-user-item:last-child a{
    color: rgb(42, 132, 105);
}
.nav-user-item:hover{
    background: #eee;
}
.nav-user-item a{
    text-decoration: none;
    color: var(--text-color); 
    font-size: 1.3rem;
    font-weight: 450;
}

/* .nav-user-item--logout a{
    color: rgb(26, 197, 180);
} */
.qr{
    position: absolute;
    background: var(--while-color);
    top: 150%;
    left: 0;
    width: 100%;
    display: none;
    animation: appear ease .5s;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.qr::before{
    content: "";
    display: block;
    position: absolute;
    height:1.3rem;
    width: 100%;
    /* background: #000; */
    top:-1.3rem;
    left: 0;
}

.qr-img{
    padding: 10px;
    width: 100%;
}

.qr-app{
    display:flex;
    justify-content: space-between;

}

.qr-app-img{
    height: 1.6rem;
}

.qr-app-a:nth-child(1){
    margin-left: 2rem;
}
.qr-app-a:nth-child(2){
    margin-right: 2rem;
}



.noti{
    background-color: var(--while-color) ;
    position: absolute;
    width: 404px;
    top:125%;
    right: 0;
    border: 1px solid #e0e0e0;
    transform-origin: calc(100% - 30px) top ;
    animation: notiappear ease-in 0.2s;
    -webkit-animation: notiappear ease-in 0.2s;
    -moz-animation: notiappear ease-in 0.2s;
    -o-animation: notiappear ease-in 0.2s;
     will-change: opacity, transform;
    display: none;
    border-radius: 3px;
}

@keyframes notiappear{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.noti::before{
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px 30px ;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    top: -32px;
    right: 10px;

}

.noti::after{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width:100px;
    background-color:transparent;
    top: -20px;
    right: 0;
}
.noti__header{
    height: 40px;
    cursor: default;
}
.noti__header h3{
    margin-top: 0;
    color: #bbbbbb ;
    font-weight: 400;
    margin-left:  16px ;
    line-height: 40px;
    font-size: 1.5rem;
    user-select: none;
}
.noti__body{
    padding: 0;
}
.noti__item-a{
    display: flex;
    text-decoration: none;
    padding: 4px 10px ;
}

.noti__item-a:hover{
    background: #f2f2f2;
}
.noti__img-div{
    background: #eee;
    padding-bottom: 10px;
    margin-top: 4px;
    max-height: 50px;
}
.noti__img{
    width:50px;
    object-fit: contain;
}

.noti__content{
     padding-left: 10px;
     line-height: 1.6;
}

.noti__title{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    margin: 0;

}   

.noti__desc{
    font-size: 1.3rem;
    font-weight: 300;
    color: #5f5f5f;
    margin: 0;


} 

.noti__footer{
    display: flex;
}
.noti__footer-btn{
    color:var(--text-color);
    font-weight: 400;
    padding:10px 10px ;
    text-decoration: none;
    margin: auto;
    width: 100%;
    text-align: center;

}
.noti__item--vỉewed{
    background: rgba(245,62,45,0.1);
}



/* search -------------------------------------------*/

.search{
    height: var(--search-height);
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.search__mobile{
    display: none;
}

.search__logo{
    width: 200px;
}
.search__logo-a{
    text-decoration: none;
    border: transparent;
}
.search__logo-img{
    width: 150px;
    color: #fff;
}
.search__bar{
    flex:1;
    height: 40px;
    background: var(--while-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.search__bar-ip-wrap{
    flex:1;
    height: 100%;
    position: relative;
}
.search__bar-ip{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: 2px;
    padding: 0 12px;
    color: var(--text-color);
}

.search__bar-ip:focus ~.search__history{
    display: block;
}
/* history search form---- */
.search__history{
    background: var(--while-color);
    border-radius: 2px;
    box-shadow: 0 0 3px #bbb;
    width: calc( 100% - 8px);
    position: absolute;
    top: calc(100% + 4px) ;
    left: 0;
    display: none;
    max-height: 300px;
    z-index: 1;
}

.search__history-title{
    margin: 10px 12px ;
    color: #888;
    font-size: 1.4rem;
    font-weight: 400;
}

.search__history-list{
    margin: 0;
    padding: 0;
}

.search__history-item{
    list-style: none;
    padding: 10px 12px;
    font-size: 1.4rem;
}
.search__history-item:hover{
    background: #eee;
}
.search__history-item a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
}
 /* search select option form-----*/
.search__bar-select{
    border-left:1px solid #ccc ;
    height: 26px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 16px;
    font-weight: 450;
    color: (--text-color);
    position: relative;
    cursor:pointer;
} 
.search__bar-select:hover .search__option-ul{
    display: block;
}
.search__option-ul{
    position: absolute;
    top: calc(100% - 1px);
    right: 0;
    background-color: var(--while-color);
    width: 120px;
    box-shadow: 0 0 3px #ccc;
    list-style: none;
    padding: 0;
    border-radius: 2px;
    display: none;
    animation: appear linear 0.2s;
    z-index: 1;
}
.search__option-ul::before{
    content: "";
    display: block;
    position: absolute;
    /* background: #000; */
    height: 20px;
    width: 100%;
    top: -15px;
}
.search__option-item{
    padding: 12px 8px ;
}
.search__option-item:hover{
    background: #eee;
    cursor:pointer;
}
.search__option-item span{
    font-size: 1.3rem;
    margin-left: 6px;
}
.search__option-item i{
    color: var(--main-color);
    margin-left: 16px;
    font-size: 1.1rem;
    display: none;
}
.search__option-item-choose i {
    display: inline;
}

.search__bar-icon{
    margin:0 10px 0 12px ;
    position: relative;
    top: 2px;
    color: rgb(120, 119, 119);
}
.search__btn{
    border: none;
    background: var(--main-color);
    border-radius: 2px;
    padding: 11px 0;
    width: 60px;
    margin-right: 3px;
}
.search__btn-icon{
    font-size: 1.2rem;
    color: var(--while-color);
}
.search__btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.search__cart{
    width: 140px;
    text-align: center;
}
.search__cart-icon{
    font-size: 2.2rem;
    color: var(--while-color);
}

.search__cart-number{
    padding: 1px 7px 0px  ;
    background: #fff;
    border-radius: 10px;
    border: solid 2px var(--main-color);
    position: absolute;
    top: -9px;
    right: -6px;
    color: var(--main-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
}
/*cart form----------------------------- */

.search__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.search__cart-wrap:hover .search__cart-list{
    display: block;
}
.search__cart-list{
    position: absolute;
    background: var(--while-color);
    width: 400px;
    top: 40px;
    right: -2px;
    border-radius: 2px;
    box-shadow: 0 4px 6px #ddd;
    display: none;
    cursor: default;
    animation: appear linear 0.2s;
    z-index: 1;
}

.search__cart-list::before{
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    right: 6px;
    border-style: solid;
    border-width:  11px 14px;
    border-color: transparent transparent var(--while-color) transparent;
    cursor: pointer;
} 

    /* no cart -----*/
.search__cart-img{
    width: 60%;
    padding: 24px 0 16px ;
    display: none;
}

.search__cart-title{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    padding-bottom: 24px;
    font-weight: 450;
    display: none;
}

.search__cart-no .search__cart-img,
.search__cart-no .search__cart-title{
    display: block;
    margin: auto;
}
    /* have cart---- */
.cart__header{
    text-align: left;
    font-size: 1.6rem;
    margin: 12px 0 12px 10px ;
    color: #757575;
    font-weight: 450;
}

.cart__list{
    padding: 0;
    max-height: 60vh;
    overflow-y: auto;
}

.cart__item{
    display: flex;
    align-items: center;
}
.cart__item:hover{
    background: #eee;
}
.cart__iitem-img{
    width: 42px;
    height: 42px;
    object-fit: contain;
    border: 2px solid #ddd;
    margin: 10px 12px;
}

.cart__item-text{
    width: 100%;
    margin-right: 12px;
}

.cart__item-before{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.cart__item-name{
    font-size: 1.4rem;
    color: var(--text-color);
    margin:0;
    line-height:2rem;
    text-align: left;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-right: 6px;
}

.cart__item-price{
    font-size: 1.4rem;
    color: var(--main-color);
    font-weight: 450;
   
}

.cart__item-multi{
    padding: 0 2px;
    color: #757575;
}

.cart__item-quantity{
    font-size: 1.1rem;
    color: #757575;                                  
}

.cart__item-after{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.cart__item-des{
    color: #757575;
    font-weight: 400;
    font-size: 1.2rem;
}

.cart__item-del{
    font-size: 1.4rem;
    color: var(--text-color);
}
.cart__item-del:hover{
    color: var(--main-color);
    cursor: pointer;
}
.cart__view-btn{
    float: right;
    margin: 4px 12px 16px 0;
}
/* sort bar for tablet and */
.sort-bar{
    /* display: flex; */
    background-color:var(--while-color);
    position:fixed;
    top: var(--header-height);
    left:0;
    right:0;
    height: var(--sort-bar-height);
    margin: 0;
    z-index: 2;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.sort-bar__item{
    flex: 1;
    list-style: none;
    text-align: center;
    position: relative;
}
.sort-bar__item--active .sort-bar__item-a{
    color: var(--main-color);
}
.sort-bar__item::before{
    content: " ";
    position: absolute;
    top: 50%;
    left: 0 ;
    height:60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.sort-bar__item:first-child::before{
    display: none;
}
.sort-bar__item-a{
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    line-height: var(--sort-bar-height);

}


/* modal------------------------------------ */

/* register form------- */
.auth{
    width: 500px;
    background:var(--while-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth__content{
    padding: 0 32px;
}
.auth__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 12px;
}
.auth__main-head{
    font-size: 2.2rem;
    font-weight: 450;
    color: var(--text-color);
}

.auth__switch-head{
    font-size: 1.8rem;
    color: var(--main-color);
    font-weight: 500;
    text-shadow: 0 0 2px #ccc;
    cursor: pointer;
}

.auth__input-item-ip{
    margin-top: 18px;
    height: 40px;
    width: 100%;
    border: #dbdbdb solid 2px;
    color: #888;
    font-size: 1.4rem;
    padding: 0 8px ;
    border-radius: 2px;
    outline: none;
}
.auth__input-item-ip:focus{
    border-color: #aaa;
}

.auth__aside{
    text-align: center;
    margin-top: 32px;
    font-size: 1.3rem;
    padding: 0 12px;
    font-weight: 450;
    line-height: 1.6;
}
.auth__text-a{
    text-decoration: none;
    color: var(--main-color);
}
.auth__btn{
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}
.auth__btn-back{
    margin-right: 8px;
    background: var(--while-color);
}

.auth__footer{
    background: #f5f5f5;
    padding: 15px 36px;
    display: flex;
    justify-content: space-between;

}
.auth__footer-fb{
    background: #3a5a98 ;
    color: var(--while-color);
}
.auth__footer-gg{
    background: var(--while-color);
    color: #666;
}

.auth__icon{
    font-size: 1.8rem;
}

.auth__footer-content{
    margin: 0 34px;
}

/* login form---------- */
.auth__help-a{
    font-size: 1.4rem;
    text-decoration: none;
}

.auth__help-forgot{
    color: var(--main-color);
}
.auth__help-help{
    color: #999;
}

.auth-separate{
    height: 20px;
    border: 0.5px solid #ddd;
    margin: 2px 16px 0px 16px;

    border-left: transparent;
}

.auth__help{
    display: flex;
    justify-content: flex-end;
}

/* end-------header------------------------------------------------- */

/* content---------------------------------------------------------*/

.content{
    background: #f5f5f5;
    padding-top: 36px;
}
.category{
    background: var(--while-color);
    border-radius: 2px;
    height: calc(100% - 118px);

}
.category__head{
    font-size: 1.6rem;
    padding: 18px 16px 4px;
    margin: 0;
    color: var(--text-color);
    text-transform: uppercase;
}
.category__head-icon{
    margin-right: 4px;
}
.category__list{
    margin: 0 0 0 8px ;
    padding: 4px 0;
}
.category__item{
    list-style: none;
    position: relative;
}

.category__item::before{
    content: "";
    border: 0.5px solid #eee;
    position: absolute;
    right: 16px;
    left: 16px;
}
.category__item:first-child::before{
    display: none;
}
.category__item-a{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 450;
    font-size: 1.4rem;
    display: block;
    padding: 12px 16px;
    transition: rỉght linear 0.2s;
    right: 0;
}
.category__item-a:hover{
    color: var(--main-color);
    right: 4px;
}

/* .category__item-a--active::before{
    content: "";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    border: 4px solid ;
    border-color: transparent transparent transparent var(--main-color);
} */

.category-mobile{
    display: none;
}
.filter{
    display: flex;
    background: rgba(0,0,0,0.05);
    align-items: center;
    border-radius: 2px;
    padding: 12px 22px;
    font-weight: 450;
    font-size: 1.4rem;
    color: var(--text-color);
}

.filter__sort{
    color: #555;
    margin-right: 14px;
    min-width: 82px;
}

.filter__btn{
    margin-right: 12px;
    min-width: 100px;
    background: var(--while-color);
    font-size: 1.4rem;
}

.filter__page{
    display:flex;
    margin-left: auto;
    align-items: center;
}

.filter__page-num{
    font-size: 1.4rem;
    margin-right: 22px;
}

.filter__page-now{
    color: var(--main-color);
}

.filter__page-arrow{
    background: var(--while-color);
    width: 72px;
    height: 36px;
    border-radius: 2px;
    display: flex;
    box-shadow: 0 0 1px #ccc;
    overflow: hidden;
}

.filter__page-arrow-a{
    flex: 1;
    display: flex;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}
.filter__page-arrow-a:first-child{
    border-right: 1px solid #eee;
}

.filter__page-arrow-a-disable{
    color: #ccc;
    background: #f9f9f9;
    cursor: default;
}
.filter__page-arrow-icon{
    margin: auto;
}




/* product---------------------------------- */
.product__wrap{
    padding: 10px 0;
}

.product{
    margin-bottom: 10px;
    background: var(--while-color);
    box-shadow: 0 0 2px #ddd;
    position: relative;
    display: block;
    text-decoration: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    border-radius: 2px;

}
.product:hover{
    box-shadow: 0 1px 20px rgba(66, 44, 44, 0.07);
    transform: translateY(-1px);
}

.product__img{
    padding-top: 100%;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product__name{
    margin: 10px 10px 6px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* height: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

.product__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-right: 10px;
}

.product__price-old{
    margin-left: 10px;
    font-size: 1.3rem;
    text-decoration: line-through;
}

.product__price-current{
    margin-left: 10px;   
    font-size: 1.5rem;     
    color: var(--main-color);                          
}

.product__icon{
    margin: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__icon-heart{
    font-size: 1.3rem;
}

i.product__icon-fill{
    color: var(--main-color);
    display: none;
}
.product__icon-liked .product__icon-empty{
    display: none;
}
.product__icon-liked .product__icon-fill{
    display: inline-block;
}
.product__icon-star{
    margin-left: auto;
    font-size: 0.8rem;
    color: #ddd;
    margin-top: -2px;
    /* trường hợp k set font-size nhỏ được */
    /* transform: scale(0.5);
    transform-origin: right; */
}

.product__icon-star--gold{
    color: var(--gold-color);
}
.product__icon-sold{
    font-size: 1.2rem;
    margin-left: 6px;
    color: var(--text-color);
}

.product__origin{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #777;
    font-weight: 350;
    margin: 3px 10px 0;
}

.product__like{
    position: absolute;
    top: 10px;
    left: -4px;
    color:var(--main-color);
    background: currentColor;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1px 0;
}
.product__like::before{
    content:"";
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    filter: brightness(0.6);
}

.product__like i{
    color: var(--while-color);
    font-size: 0.9rem;
    padding: 0 2px 0 5px;
}

.product__like span{
    color: var(--while-color);
    font-weight: 500;
    font-size: 1.2rem;
    padding-right: 2px;
}
.product__saleoff{
    position: absolute;
    background: rgba(255, 217, 66, 0.93);
    width: 40px;
    height: 36px;
    top: 0;
    right: 0;
    font-weight: 600;
    text-align: center;
    border-top-right-radius: 2px;
}

.product__saleoff-percent{
    font-size: 1.2rem;
    color: #f53e2d;
    margin-top: 3px;
    line-height: 1.5rem;
}

.product__saleoff-label{
    font-size: 1.1rem;
    color: var(--while-color);
    line-height: 1.5rem;
}

.product__saleoff::after{
    content: "";
    border-width: 0 20px 5px;
    border-style: solid;
    color:rgba(255, 217, 66, 0.93) ;
    border-color: transparent currentColor transparent currentColor;
    position: absolute;
    top: 100%;
    left: 0;
}


/* pagination--------- */
.magin-pagination{
    margin: 40px 0 30px 0;
}
/* footer----------------------------------- */

.footer{
    border-top: 4px solid var(--main-color);
    padding: 20px 0 0;
}

.footer__header{
    color: var(--text-color);
    font-size: 1.4rem;
    text-transform: uppercase;

}

.footer__list{
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.footer__item-a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 5px 0;
    display: flex;
    text-transform: capitalize;
}
.footer__item-a:hover{
    color: var(--main-color);
}

.footer__icon{
    font-size: 1.6rem;
    margin-right: 6px;
    
}

.footer__app{
    display: flex;
}

.footer__qr-img{
    width: 80px;
    margin-right: 8px;
}

.footer__down-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__down-app a{
    text-decoration: none;
    color: transparent;
}
.footer__down-app-img{
    height: 16px;
    margin: 4px 0;
}

.footer__copywrite{
    background: #f5f5f5;
    padding: 10px 0 ;
    text-align: center;
    font-size: 1.1rem;
    color: #737373;
    margin-top: 26px;
}